@import url(bootstrap/bootstrap.css);
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0;
  font-family: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", "Helvetica Neue", Arial, sans-serif;
  font-weight: 700;
  line-height: 1.2; }

body {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", "Helvetica Neue", Arial, sans-serif;
  color: #0000009A;
  font-weight: 400;
  line-height: 1.5; }

ol, ul {
  list-style: none;
  padding: 0; }

a {
  display: block;
  text-decoration: none !important;
  color: unset; }
  a:hover {
    color: #6C51E2; }

img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center; }

.img-hover {
  -webkit-transition: -webkit-transform 0.5s ease-out;
  transition: -webkit-transform 0.5s ease-out;
  -o-transition: transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
  transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out; }
  .img-hover:hover {
    -webkit-transform: scale(1.1, 1.1);
        -ms-transform: scale(1.1, 1.1);
            transform: scale(1.1, 1.1); }

.img-center {
  -o-object-position: center center;
     object-position: center center;
  -o-object-fit: cover;
     object-fit: cover; }

.overflow-hid {
  overflow: hidden; }

.material-icons {
  vertical-align: text-bottom; }

.bg-cover {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; }

.text-roboto {
  font-family: "Roboto", sans-serif; }

.text-gray610 {
  color: #00000099 !important; }

.btn-white {
  background-color: #fff;
  border-color: #fff; }

.btn-primary {
  color: #fff;
  background-color: #6C51E2;
  border-color: #6C51E2; }
  .btn-primary:hover {
    color: #fff;
    background-color: #3E21C7;
    border-color: #3E21C7; }

.btn-outline-primary {
  color: #6C51E2;
  border-color: #6C51E2; }
  .btn-outline-primary:hover {
    color: #fff;
    background-color: #3E21C7;
    border-color: #3E21C7; }

.text-left {
  text-align: left !important; }

.w-100 {
  width: 100% !important; }

.navbar-light {
  background: #F1F0F8 !important; }

.bg-light {
  background: #F1F0F8 !important; }

.border-primary {
  border-color: #6C51E2 !important; }

.text-title {
  font-family: 'Raleway', sans-serif; }

a.insidetext {
  display: inline;
  color: #6C51E2; }

.bg-gray910 {
  background-color: #121212 !important; }

.text-info {
  color: #0000009A !important; }

.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #6C51E2;
  border-color: #6C51E2; }

.page-link {
  color: #6C51E2; }

.text-black {
  color: #000 !important; }

.btn-black {
  color: #fff;
  background-color: #000;
  border-color: #000; }
  .btn-black:hover {
    color: #000;
    background-color: #fff;
    border-color: #000; }

.text-info {
  color: #0000009A !important; }

.btn-outline-white {
  color: #fff;
  border-color: #fff; }
  .btn-outline-white:hover {
    color: #000;
    background: #fff; }

.badge-primary {
  color: #fff;
  background-color: #6C51E2; }

.p-md-5 {
  padding: 1.25rem !important; }

@media (min-width: 768px) {
  .py-md-4 {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important; }
  .h-lg-263p {
    height: 158px !important; }
  .pb-md-92p, .py-md-92p {
    padding-bottom: 92px !important;
    padding-top: 92px !important; }
  .border-0-md {
    border-width: 0px !important; }
  .mb-md-5, .my-md-5 {
    margin-bottom: 1.25rem !important; }
  .bg-white-md {
    background-color: #fff !important; }
  .pt-md-6, .py-md-6 {
    padding-top: 1.5rem !important; } }

.mt-12p, .my-12p {
  margin-top: 12px !important;
  margin-bottom: 12px; }

.mb-48p-lg-72p {
  margin-bottom: 48px; }

.h-lg-263p {
  height: 181px !important; }

@media (min-width: 992px) {
  .mb-48p-lg-72p {
    margin-bottom: 72px; }
  .h-lg-263p {
    height: 263px !important; }
  .pl-lg-6, .px-lg-6 {
    padding-left: 4rem !important;
    padding-right: 4rem !important; }
  .pl-lg-220p, .px-lg-220p {
    padding-left: 220px !important;
    padding-right: 220px !important; }
  .pb-lg-18, .py-lg-18 {
    padding-bottom: 4.5rem !important; }
  .h4-lg {
    font-size: 1.5rem !important; }
  .mb-lg-18, .my-lg-18 {
    margin-bottom: 4.5rem !important; } }

.w-64percent {
  width: 64% !important; }

.w-36percent {
  width: 36% !important; }

.h-56p {
  height: 56px; }

.border-2 {
  border-width: 2px !important; }

.text-sm {
  font-size: 14px; }

footer select {
  font-size: 14px !important;
  border: 0 !important;
  padding: 0 8px !important; }

h6, .h6 {
  font-size: 1rem; }

.text-xxl {
  font-size: 48px; }

.font-weight-extrabold {
  font-weight: 800; }

.text-xs {
  font-size: 12px; }

.font-size-18 {
  font-size: 18px;
  line-height: 1; }

/*----------navbar----------*/
.navbar-brand {
  background: url("https://ppt.cc/fFNjjx@.png") no-repeat center center;
  background-size: 100%;
  text-indent: 101%;
  overflow: hidden;
  width: 96px;
  height: 24px;
  white-space: nowrap;
  display: inline-block;
  margin: 0 auto; }

.collapse-position {
  position: absolute;
  top: 60px;
  left: 0;
  background-color: #fff;
  width: 100%;
  z-index: 2; }

@media (min-width: 768px) {
  .collapse-position {
    position: static; } }

.navbar-light .navbar-nav .nav-link {
  color: #000; }

/*----------banner----------*/
@media (min-width: 768px) {
  .swiper-container.banner .pt_adjust_swiper {
    padding-top: 11.5%;
    padding-bottom: 11.5%; }
  .text-xxl-md {
    font-size: 48px; } }

.swiper-container.banner .swiper-slide {
  height: unset !important;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.img-mask::before {
  content: ""; }

.img-mask::before, .img-mask-rounded::before, .hover-mask:hover::after {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.z-index-1 {
  position: relative;
  z-index: 1; }

.font-weight-extrabold {
  font-weight: 800; }

.banner {
  height: 420px; }

/*----------search-bar----------*/
.search-bar .row {
  -webkit-transform: translateY(-50px);
      -ms-transform: translateY(-50px);
          transform: translateY(-50px);
  position: relative;
  z-index: 3; }

.search-bar .dropdown {
  width: 100%; }

@media (min-width: 992px) {
  .search-bar .dropdown {
    width: 26.7%; } }

/*----------Top Choices----------*/
.nav-tabs {
  margin-bottom: 24px; }

.nav-link.active, .nav-link:hover {
  border-width: 0;
  border-bottom: 2px solid #6C51E2; }

.card {
  border: 0; }

.card-body {
  padding: 0; }

.card-img-top {
  height: 175px;
  -o-object-fit: cover;
     object-fit: cover; }

.swiper-button-prev {
  display: none; }

.swiper-container2 {
  overflow: hidden; }

/*----------Popular Destinations----------*/
.position-r {
  position: relative; }

.img-mask-rounded::before {
  content: "";
  background: -o-radial-gradient(center, ellipse, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.37) 38%, rgba(0, 0, 0, 0.65) 66%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.37) 38%, rgba(0, 0, 0, 0.65) 66%);
  border-radius: 8px; }

/*----------Popular Destinations----------*/
.swiper-container3 {
  overflow: hidden; }

/*----------search----------*/
.font-xs {
  font-size: 0.75rem !important; }

p {
  margin-top: 0;
  margin-bottom: 0; }

.sticky-header {
  position: -webkit-sticky;
  position: sticky;
  top: 72px;
  z-index: 1; }

.btn-sm, .btn-group-sm > .btn {
  padding: 0.5rem 0.5rem;
  font-size: 0.875rem; }

.pt-6, .py-6 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important; }

.p-6 {
  padding: 1.5rem !important; }

.pb-12, .py-12 {
  padding-bottom: 3rem !important; }

@media (min-width: 768px) {
  .sort__menu--scroll {
    min-width: 100%;
    overflow-x: scroll; }
  .card + .card {
    border-top-width: 2px; }
  .card-img {
    border-radius: .5rem 0 0 .5rem; }
  .mt-md-4, .my-md-4 {
    padding-top: 1rem !important;
    margin-top: 0rem !important; }
  .pt-md-4, .py-md-4 {
    padding-top: 1rem !important; } }

.card-img {
  height: 150px; }

@media (min-width: 992px) {
  .bg-transparent-lg {
    background-color: transparent !important; }
  .card-img {
    height: 175px; } }

.card + .card {
  border-top: 4px solid #f1f0f8; }

.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 0;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid rgba(0, 0, 0, 0.125);
  border-radius: 0; }

.tag {
  padding: 2px .5rem;
  color: #0000009A;
  background: #F1F0F8;
  line-height: 1;
  font-size: 0.625rem;
  border-radius: 50rem; }

@media (min-width: 1200px) {
  .tag {
    padding: 0.25rem 0.5rem;
    font-size: 0.75rem; } }

/*----------search----------*/
.font-xs {
  font-size: 0.75rem !important; }

p {
  margin-top: 0;
  margin-bottom: 0; }

.sticky-header {
  position: -webkit-sticky;
  position: sticky;
  top: 72px;
  z-index: 1; }

.btn-sm, .btn-group-sm > .btn {
  padding: 0.5rem 0.5rem;
  font-size: 0.875rem; }

.pt-6, .py-6 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important; }

.p-6 {
  padding: 1.5rem !important; }

.pb-12, .py-12 {
  padding-bottom: 3rem !important; }

@media (min-width: 768px) {
  .sort__menu--scroll {
    min-width: 100%;
    overflow-x: scroll; }
  .card + .card {
    border-top-width: 2px; }
  .card-img {
    border-radius: .5rem 0 0 .5rem; }
  .mt-md-4, .my-md-4 {
    padding-top: 1rem !important;
    margin-top: 0rem !important; }
  .pt-md-4, .py-md-4 {
    padding-top: 1rem !important; } }

.card-img {
  height: 150px; }

@media (min-width: 992px) {
  .bg-transparent-lg {
    background-color: transparent !important; }
  .card-img {
    height: 175px; } }

.card + .card {
  border-top: 4px solid #f1f0f8; }

.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 0;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid rgba(0, 0, 0, 0.125);
  border-radius: 0; }

.tag {
  padding: 2px .5rem;
  color: #0000009A;
  background: #F1F0F8;
  line-height: 1;
  font-size: 0.625rem;
  border-radius: 50rem; }

@media (min-width: 1200px) {
  .tag {
    padding: 0.25rem 0.5rem;
    font-size: 0.75rem; } }

.py-5 {
  padding-bottom: 1.25rem !important;
  padding-top: 1.25rem !important; }

.py-2 {
  padding-bottom: 0.5rem !important;
  padding-top: 0.5rem !important; }

/*----------detail----------*/
.detail .carousel-item img {
  height: 247px; }

@media (min-width: 576px) {
  .detail .carousel-item img {
    height: 314px; } }

.mb-6, .my-6 {
  margin-bottom: 1.5rem !important; }

.mb-12, .my-12 {
  margin-bottom: 3rem !important; }

.hover--bgLight {
  color: #6C51E2; }
  .hover--bgLight:hover {
    color: #6C51E2;
    background: #F1F0F8;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; }

.modal .confirm {
  background-color: rgba(0, 0, 0, 0.85);
  border-radius: .5rem .5rem 0 0; }

/*----------bg----------*/
.login_bg {
  background-size: 120%;
  background-position: center 70%;
  position: absolute;
  bottom: -200px;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1; }

@media (min-width: 992px) {
  .login_bg {
    background-size: 100%;
    background-position: center 60%;
    bottom: 0; }
  .login_bg-h {
    height: 80vh; } }

@media (min-width: 768px) {
  .login_bg-h {
    height: 73vh; } }

h1 a {
  text-indent: 101%;
  overflow: hidden;
  width: 96px;
  height: 24px;
  white-space: nowrap;
  display: inline-block; }

/*----------main----------*/
.img_profile {
  height: 64px;
  width: 64px; }

.fab {
  font-family: "Font Awesome 5 Brands"; }

.text-black {
  color: #000 !important; }

/*# sourceMappingURL=all.css.map */
